<h1>Quotes</h1>

<p>Add your quotes below</p>
<hr>

<div class="container">

    <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    
</div>

<div class="container">
<div class="row" *ngFor="let quote of quotes;let i = 'index'">
<ul>
        <li>{{quote.quote}}</li> 
        <li>Submitterr:{{quote.name}}</li>
        <li>Date submitted:{{quote.completeDate|date}}</li>
        <li>No.of Upvotes: {{quote.upvotes}}</li>
        <li>No.of Downvotes:{{quote.downvotes}}</li>
         
        <button (click)='toogleDetails(i)'>Show Author</button>
        <button class="btn btn-info" (click)="upvote(i)">Upvote</button>
        <button class="btn btn-info" (click)="downvote(i)">Downvote</button>
        <button class="btn btn-danger" (click)="deleteQuote(i)">Delete</button>
        

        <app-quote-details *ngIf="quote.showAuthor" [quote]='quote'></app-quote-details>  
         
</ul>
</div>

</div>
